@import 'tailwindcss';

@plugin 'tailwindcss-react-aria-components';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

@font-face {
	font-family: 'Assistant';
	src: url('/fonts/Assistant-Variable.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Figtree';
	src: url('/fonts/Figtree-Variable.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}

@theme inline {
	--font-heading: 'Assistant', sans-serif;
	--font-body: 'Figtree', sans-serif;
}

@layer base {
	html {
		@apply scroll-smooth antialiased;
	}

	body {
		@apply font-body;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}
}

@layer utilities {
	.safe-area {
		padding-bottom: env(safe-area-inset-bottom, 0);
		padding-top: env(safe-area-inset-top, 0);
		padding-left: env(safe-area-inset-left, 0);
		padding-right: env(safe-area-inset-right, 0);
		min-height: 100svh;
	}

	/* Rehype Pretty Code */
	code[data-line-numbers] {
		counter-reset: line;
	}

	code[data-line-numbers] > [data-line]::before {
		counter-increment: line;
		content: counter(line);

		/* Display the line number */
		display: inline-block;
		width: 1rem;
		margin-right: 2rem;
		text-align: right;
		color: gray;
	}

	code[data-line-numbers-max-digits='2'] > [data-line]::before {
		width: 2rem;
	}

	code[data-line-numbers-max-digits='3'] > [data-line]::before {
		width: 3rem;
	}

	[data-line] {
		padding: 0 0.5rem;
	}

	[data-highlighted-line] {
		background: rgba(200, 200, 255, 0.1);
		@apply border-l-2 border-rose-500;
	}

	/* Subheading anchor */
	.subheading-anchor {
		@apply no-underline hover:underline;
	}
}
